/* Styling overrides for the Life with Hockey site */

/* site header style settings */
.site-header {
    display: block;
    text-align: center;
    /* background-color: rgba(18, 50, 87, 0.45); */
    margin-bottom: 0rem;
}

/* site title and site title a tag style settings */
.site-title, .site-title a {
    font-size: 50px;
    font-weight: bold;
}

/* site description style settings */
.site-description {
    font-size: 25px;
    margin-top: 0.5rem;
}

/* primary menu list style settings */
#primary-menu-list {
    justify-content: space-evenly;
    margin-top: 3rem;
    background-color: rgba(14, 119, 148, 0.47);
}

/* current page item a tag style settings */
.current_page_item > a:first-child {
    color: #fff;
    border: 3px solid rgba(18, 50, 87, 0.45);
}

/* h2 style settings */
h2 {
    font-weight: bold;
}

/* h3 style settings */
h3 {
    font-weight: bold;
}

/* h5 style settings */
h5 {
    font-size: 20px;
}

/* site content a tag settings */
.site-content a {
    font-weight: bold;
}

/* page header style settings */
.page-header {
    display: none;
}

/* entry header style settings */
.entry-header {
    display: none;
}

/* blog entry header style settings */
.blog .entry-header {
    display: block;
}

/* post style settings */ 
.post {
    margin-top: 0rem;
    margin-bottom: 4rem;
}

/* content area style settings */
.content-area {
    margin-top: -3rem;
}

/* home and blog content area style settings */
.home .content-area, .blog .content-area {
    margin-top: -1.05rem;
}

/* site-main style settings */
.site-main {
    padding-top: 0rem;
}

/* life with hockey custom query posts style settings */ 
.lifeWithHockeyPosts {
    margin: 0rem auto;
    width: 45%;
}

/* life with hockey custom query individual post style settings */ 
#lifeWithHockeyIndividualPost {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color:rgba(14, 119, 148, 0.205);
}

/* life with hockey custom query individual post h3, p, and a tag style settings */ 
#lifeWithHockeyIndividualPost h3, #lifeWithHockeyIndividualPost p, #lifeWithHockeyIndividualPost a {
    margin-top: 1rem;
}

/* wordpress social link style settings */
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link {
    background-color: rgba(14, 119, 148, 0.47);
    color: #fff;
}

/* img style settings */
img {
    box-shadow: 2px 5px 20px rgba(18, 50, 87, 0.45);
}

/* widget area style settings */
.widget-area {
    margin-top: 0rem;
}

/* footer site info style settings */
.site-footer > .site-info {
    display: block;
    text-align: center;
}

/* footer site name style settings */
.site-name {
    font-weight: bold;
}

/* footer navigation wrapper style settings */
.footer-navigation-wrapper {
    justify-content: space-evenly;
}
