/* Styling overrides for the Life with Hockey site */

/* site header style settings */
.site-header {
    display: block;
    text-align: center;
    /* background-color: rgba(18, 50, 87, 0.45); */
    margin-bottom: 0rem;
}

/* site title style settings */
.site-title {
    font-size: 50px;
    font-weight: bold;
}

/* site description style settings */
.site-description {
    font-size: 25px;
    margin-top: 0.5rem;
}

/* primary menu list style settings */
#primary-menu-list {
    justify-content: space-evenly;
    margin-top: 3rem;
    background-color: rgba(14, 119, 148, 0.75);
}

/* current page item a tag style settings */
.current_page_item > a:first-child {
    color: #fff;
    border: 3px solid rgba(18, 50, 87, 0.45);
}

/* h2 style settings */
h2 {
    font-weight: bold;
}

/* page header style settings */
.page-header {
    display: none;
}

/* entry header style settings */
.entry-header {
    display: none;
}

/* blog entry header style settings */
.blog .entry-header {
    display: block;
}

/* post style settings */ 
.post {
    margin-top: 0rem;
    margin-bottom: 4rem;
}

/* content area style settings */
.content-area {
    margin-top: -3rem;
}

/* home and blog content area style settings */
.home .content-area, .blog .content-area {
    margin-top: -1.05rem;
}

/* site-main style settings */
.site-main {
    padding-top: 0rem;
}